# Commento: Ignora i file temporanei di Python
__pycache__/
*.pyc
*.pyo

# Ignora le directory degli ambienti virtuali
env/
venv/
.venv/

# Ignora i file di log
*.log
log/
logs/

# Ignora i file di configurazione sensibili
config.ini
.env
.secrets

# Ignora i file di Docker
Dockerfile
.dockerignore

# Ignora la directory node_modules (se hai un progetto Node.js)
node_modules/

# Ignora i file di documentazione
docs/
