# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# Logs
*.log

# Local database files
*.db
*.sqlite3

# Classifiche e altri dati generati
tombola-42206-firebase-adminsdk-fbsvc-29fb5d470a.json
